<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>About</title>
</head>
<body>
    <nav class="navbar">
        <a href="/" class="text-2xl">Lego Collection</a>
        <a class="active" href="/about">About</a>
        <div class="dropdown">
            <button class="dropbtn">Theme</button>
            <div class="dropdown-content">
                <a href="/lego/sets?theme=theme1">Theme 1</a>
                <a href="/lego/sets?theme=theme2">Theme 2</a>
                <a href="/lego/sets?theme=theme3">Theme 3</a>
            </div>
        </div>
    </nav>

    <div class="container mx-auto">
        <div class="hero">
            <h1>About</h1>
            <p>All about me.</p>
        </div>

        <div class="grid grid-cols-2">
            <div>
                <img src="/public/images/img1.jpg" alt="Your Image">
            </div>
            <div>
                <p>Short blurb about yourself, your hobbies, courses, etc.</p>
            </div>
        </div>
    </div>
</body>
</html>
